In [2]:
import pandas as pd
import numpy as np

In [3]:
Id = np.random.randint(low=10, high=100, size=10)
Id

array([61, 56, 87, 28, 54, 27, 87, 71, 36, 55])

In [5]:
Id = np.random.randint(10, 100, 20)
name = np.random.choice(['Ajlal', 'Anas', 'Dheeraj', 'Aryan', 'Yash'], 20)
age = np.random.randint(15, 50, 20)
score = np.random.randint(40, 100, 20)

df = pd.DataFrame({'Id': Id, 'name': name, 'age': age, 'score': score})
df

    Id     name  age  score
0   18    Ajlal   49     73
1   14     Yash   27     55
2   14  Dheeraj   16     79
3   56     Anas   23     87
4   53     Yash   38     69
5   98     Anas   41     64
6   73  Dheeraj   46     51
7   41  Dheeraj   37     46
8   47  Dheeraj   46     55
9   96     Anas   28     79
10  69    Ajlal   22     54
11  49    Aryan   36     53
12  93     Anas   19     53
13  99    Aryan   46     90
14  77  Dheeraj   18     95
15  65  Dheeraj   37     50
16  26    Aryan   22     69
17  13  Dheeraj   17     72
18  98     Anas   15     53
19  39    Ajlal   27     92